.Gallery-List{
    margin: 0;
    padding: 0;
}
.Gallery-Item {
    align-items: flex-end;
    display: flex;
    height: 300px;
    justify-content: center;
    list-style: none;  
    padding: 0;
    text-align: center;
}

.Gallery-Error {
    background-color: rgb(66, 187, 228);
    color: white;
    padding: 2em 0 0 0;
    text-align: center;
}
.Gallery-Item a, a:hover{
    color: white;
    height: 100%;
    text-decoration: none;
    width: 100%;
}
.Gallery-Error p {
    margin-bottom: 2em;
}

.Gallery-Title {
    align-content: flex-end;
    align-items: flex-end;
    bottom: 0;
    color:rgb(255, 255, 255); 
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 10px;
    position: relative;
}
.Gallery-Title :nth-child(n){
    width: 100%;
}
.Gallery-Title p{
    margin: 0;
}
.Gallery-Image{
    overflow: hidden;
    width: cover center center;
}