.Reload-Button {
    width: 100%;
}
.Reload-Button button {
    background-color: green;
    border: none;
    color: white;
    font-size: 2em;
    height: 80px;
    width: 100%;
}
.Reload-Button button:hover {
    background-color: rgb(69, 204, 69);
}